.container
  h1 {{build.name}}
  .row
  
    .col-md-6
      .panel.panel-primary
        .panel-heading Description
        .panel-body
          div  {{build.buildDefinition}}
       a(href="/") Back To Builds