h1 hello world 
.panel.panel-primary
  .panel-heading.text-center Current Builds
  .panel-body
    .row(ng-repeat="build in builds")
      .col-md-12
        a(href="/builds/{{build.id}}") {{build.name}}
