
.container
  h1 {{build.name}}
  table.table
    tr
    
      td  Label Name 
      td {{ build.labelName }}
    tr
      td Requested By
      td {{build.requestedBy}}
    tr
     td Finished TIme
     td 
    tr
      td Drop Location
      td {{build.dropLocation}}
    tr
      td Build Success
      td true
  a(href="/").col-md-offset-1 Back To Builds



       